.dropDownProfile {
  position: absolute;
  top: 6rem;
  right: 40.4rem;
  width: 250px;
  padding: 16px;
  border-radius: 15px;
  background-color: hsl(0, 0%, 13%);
  border: 2px solid #4628dc;
  z-index: 10;
}
.dropDownProfile::before {
  content: "";
  position: absolute;
  top: -1.1rem;
  right: 3.4rem;
  width: 20px;
  height: 20px;
  /* background-color: white; */
  transform: rotate(45deg);

  background-color: hsl(0, 0%, 13%);
  border-left: 2px solid #4628dc;
  border-top: 2px solid #4628dc;
  z-index: 10;
}
